<a href="https://colab.research.google.com/github/DreamJimJim/dreamf/blob/master/4_%E5%BB%BB%E5%9C%88loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
import pandas as pd
print("pandas version: %s" % pd.__version__)
 
import matplotlib
print("matplotlib version: %s" % matplotlib.__version__)
 
import numpy as np
print("numpy version: %s" % np.__version__)
 
import sklearn
print("scikit-learn version: %s" % sklearn.__version__)
 
import tensorflow as tf
print("tensorflow version: %s" % tf.__version__)
 
import torch
print("PyTorch version: %s" %torch.__version__)
print("2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/")

pandas version: 1.0.5
matplotlib version: 3.2.2
numpy version: 1.18.5
scikit-learn version: 0.22.2.post1
tensorflow version: 2.3.0
PyTorch version: 1.6.0+cu101
2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/

In [ ]:
list1=range(10)
print(list1)
 
print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
 list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
 list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [ ]:
 list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

In [ ]:
 for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
 for n in range(10):
    print(n, end='@')
 
    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [ ]:
 mysum = 0
 
for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [ ]:
 mysum = 0
 
for n in range(5):
  mysum += n
 
print(mysum)

10

In [ ]:
 x = int(input("請輸入一個正整數:"))
mysum = 0
 
for n in range(x):
  mysum += n
 
print(mysum)

請輸入一個正整數:10
45

In [ ]:
 numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []
 
for number in numbers:
  if (number % 2 == 0): 
    my_numbers.append(number)
 
print(my_numbers)

[4, 8, 6]

if (number % 2 == 0): 2就是偶數 前面2!是指要抓出奇數

In [ ]:
 total = i = 1
 
n = int(input("請輸入正整數 n 的值："))
 
while(i<=n):
    total *= i  
    i+=1      
 
print("%d!=%d" % (n, total))

請輸入正整數 n 的值：2
2!=2

In [ ]:
 fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]
 
while True:
    fruits = input("請輸入喜歡的水果(Enter 結束)：")
 
    if (fruits==""):
        break
 
    n = fruits.count(fruits) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruits)
        print("%s 在串列中的第 %d 項" %(fruits,p+1))
    else:
        print(fruits,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：西瓜
西瓜 在串列中的第 1 項
請輸入喜歡的水果(Enter 結束)：

In [ ]:
 n = int(input("請輸入正整數："))
 
for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

請輸入正整數：3
1 2 3

In [ ]:
 #!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

3個for迴圈跑 如果i不等於k和i不等於j和j不等於k 則印出i j k

In [ ]:
 for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
 for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [ ]:
 for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [ ]:
 for x in range(0,19,-1):
  print(x)

In [ ]:
 output = ''
 
for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [ ]:
 output = ''
 
for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
 list1 = range(0,19,3)
 
for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
 #!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))
 
arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0
 
for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]
 
print(r)

淨利潤:600000
6000.0
10000.0
7500.0
10000.0
33500.0

In [ ]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

In [ ]:
for i in range(1,10,1):
    for j in range(1,10,1):
        c=i*j
        print(c)
    print("\n")

1
2
3
4
5
6
7
8
9


2
4
6
8
10
12
14
16
18


3
6
9
12
15
18
21
24
27


4
8
12
16
20
24
28
32
36


5
10
15
20
25
30
35
40
45


6
12
18
24
30
36
42
48
54


7
14
21
28
35
42
49
56
63


8
16
24
32
40
48
56
64
72


9
18
27
36
45
54
63
72
81